<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Skill Matrix">
		<meta name="author" content="Todoras Stefan">
		<script src="script/jquery/jquery-2.1.3.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="script/angular/angular.min.js"></script>
		<script src="script/angular/angular-sanitize.min.js"></script>
		<script src="script/mainApp.js"></script>
		<script src="script/get.js"></script>
		<script src="script/controller.js"></script>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="css/custom.css"></link>
	</head>
	<body>
		<div class="container" ng-app="mainApp" ng-controller="controller">
			<div class="jumbotron">
				<h2>Todoras Stefan</h2>
				<p>Skill Matrix</p>
			</div>
			<!-- Personal data and education -->
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="col-sm-12 form_header" colspan="2">
								<h3 class="form_header_text"><strong>Personal Data</strong></h3>
						</th>
					</tr>
				</thead>
				<tbody>
					<!-- Personal Data -->
					<tr ng-repeat="key in getKeys(personalData)">
						<td class="col-sm-2"><h4><strong>{{key}}</strong></h4></td>
						<td class="col-sm-10" ng-if="key != 'E-mail'">
							<h4>{{personalData[key]}}</h4>
						</td>
						<td class="col-sm-10" ng-if="key == 'E-mail'">
							<img src="http://todo87.github.io/img/mail.jpg" />
						</td>
					</tr>

					<!-- Education -->
					<tr>
						<td class="col-sm-12 form_header" colspan="2">
							<h3 class="form_header_text"><strong>Education</strong></h3>
						</td>
					</tr>
					<tr ng-repeat="key in getKeys(education)">
						<td class="col-sm-2"><h4><strong>{{key}}</strong></h4></td>
						<td class="col-sm-10" ng-if="!isArray(education[key])">
							<h4>
								<div ng-bind-html="education[key]">{{education[key]}}</div>
							</h4>
						</td>
						<td class="col-sm-10" ng-if="isArray(education[key])">
							<ul>
								<li ng-repeat="arr in education[key]">
									<h4>{{arr}}
										<!-- <div ng-bind-html="education[key]">{{education[key]}}</div> -->
									</h4>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- Pro Exp -->
			<div ng-repeat="job in proExp['Professional experience']">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-sm-12 form_header" colspan="2">
									<h3 class="form_header_text"><strong>Professional experience</strong></h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="col-sm-2"><h4><strong>Profile</strong></h4></td>
							<td class="col-sm-10"><h4>{{job["Profile"]}}</h4></td>
						</tr>
						<tr>
							<td class="col-sm-2"><h4><strong>Career history</strong></h4></td>
							<td class="col-sm-10">
								<div ng-repeat="ch in job['Career history']">
									{{ch}}
								</div>
							</td>
						</tr>
						<tr>
							<td class="col-sm-2"><h4><strong>Assignment history</strong></h4></td>
							<td class="col-sm-10">
								<ul class="list-unstyled">
									<li ng-repeat="ah in job['Assignment history']">
											{{ah['proj_name']}}
											<ul>
												<li ng-repeat="resp in ah['resp']">
													{{resp}}
												</li>
											</ul><br/>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Skill matrix -->
			<h2><strong>Skills matrix</strong></h2>
			<h5><strong>Skill level : 1 – Theoretical knowledge ;  2 - Junior ;   3 – Confirmed experience; 4 – Advanced experienced;   5 – Senior expert.</strong></h5>
			<!-- Skill matrix matrix -->
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th class="col-sm-2 skill_th_center" ng-repeat="head in skillMatrixHead">{{head}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-sm-12" colspan="6"><strong>Systems/OS</strong></td>
					</tr>
					<tr ng-repeat="obj in matrix.os">
						<td ng-repeat="head in skillMatrixHead">
								{{obj[head]}}
						</td>
					</tr>
					<tr>
						<td class="col-sm-12" colspan="6"><strong>Programming languages</strong></td>
					</tr>
					<tr ng-repeat="obj in matrix.progLang">
						<td ng-repeat="head in skillMatrixHead">
								{{obj[head]}}
						</td>
					</tr>
					<tr>
						<td class="col-sm-12" colspan="6"><strong>Database</strong></td>
					</tr>
					<tr ng-repeat="obj in matrix.db">
						<td ng-repeat="head in skillMatrixHead">
								{{obj[head]}}
						</td>
					</tr>
					<tr>
						<td class="col-sm-12" colspan="6"><strong>Tools/methods/other</strong></td>
					</tr>
					<tr ng-repeat="obj in matrix.tools">
						<td ng-repeat="head in skillMatrixHead">
								{{obj[head]}}
						</td>
					</tr>
					<tr>
						<td class="col-sm-12" colspan="6"><strong>Industry experience</strong></td>
					</tr>
					<tr ng-repeat="obj in matrix.indExp">
						<td ng-repeat="head in skillMatrixHead">
								{{obj[head]}}
						</td>
					</tr>
					<tr>
						<td class="col-sm-12" colspan="6"><strong>Languages</strong></td>
					</tr>
					<tr ng-repeat="obj in matrix.lang">
						<td ng-repeat="head in skillMatrixHead">
								{{obj[head]}}
						</td>
					</tr>
				</tbody>
			</table>
			<div class="div_bootom_space">
				<a href="skill_matrix/Skill_Matrix_Todoras_Stefan.doc" class="btn btn-primary">Download Skill Matrix</a>
				<a href="http://www.ceevee.com/todoras.stefan" class="btn btn-primary" target="_blank">Go to Besjobs CV</a>
			</div>
		</div>
	</body>
</html>
